@model SalesPersonViewModel
@{
    Layout = "_Layout";
}

<div clas="row col-md-12">
    <h3>Sales associate details</h3>
    <hr />
    <div class="form-group">
        <label class="col-md-2">Name</label>
        <p class="col-md-10">@Model.Name</p>
    </div>

    <div class="form-group">
        <label class="col-md-2">Salary</label>
        <p class="col-md-10">@Model.Salary</p>
    </div>

    <div class="form-group">
        <label class="col-md-2">Address</label>
        <p class="col-md-10">@Model.Address</p>
    </div>
</div>

<div class="row col-md-12">
    <h4>Sales</h4>
    <hr />
    <div>@Html.Partial("_CarPurchaseTable", Model.Sales)</div>
</div>